.navbar {
    position: fixed;
    background-color: whitesmoke;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding-left: 80px;
    padding-right: 80px;
    
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 20px;
    user-select: none;
    border-bottom: 1px solid rgb(209, 203, 203);
    
}

.icon a img {
    width: 180px;
    min-width: 180px;
}

.items{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items div{
    padding-left: 30px;
    padding-right: 30px;
}
.items div a {
    text-decoration: none;
    color: black;
}

.menu-toggle {
    cursor: pointer;
}

/*floating menu*/

.floating-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 215, 215);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ; 
    width: 41%;
    min-width: 700px; 
    border-radius: 10px; 
    position: fixed;
    top: 75px; /* below navbar */
    right: 120px; /* align with hamburger */
    z-index: 2;
    background-color: white;
    user-select: none;
    color: gray;
}

.products {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.kite-log{
    width: 50%;
    min-width: 25px;
}
.kite-connect-logo{
    /* width: 45%  !important;  */
    min-width: 30px !important;
}

.products div h2{
    font-size: 20px;
    margin-bottom: 0px;
}

.products div p {
    margin-top: 4px;
}
.products div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
}

.extras {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-top: 0px;
    
}
.extras h2 {
    font-size: larger;
}

.education-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    
}

.extras div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Utilities p{
    margin: 5px;
    padding: 0px;
}

.Updates p {
   margin: 5px;
    padding: 0px; 
}

.education-content {
    margin-top: 20px !important;
    display: flex !important;
    flex-direction: row !important;
 
}
